<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Car Loan Dept">
    <classes>
       <class name="TestNG.Test1">
       <methods>
       <exclude name="Test03"/>
       </methods>
       </class>
       <class name="TestNG.Test3"/>
    </classes>
  </test> 
   <test  name="Home Loan Dept">
    <classes>
       <class name="TestNG.Test2">
       <methods>
       <include name="Test01"/>
       </methods>
       </class>
    </classes>
  </test> 
</suite> 
